
<style>
    table p{font-size: 40px}
</style>
<!--公务员申请限价商品房打印页面-->
<!--封面-->
<div style="width: 1000px;height: 1460px;border: 1px solid #ffffff;">
    <div style="font-size: 20px;text-align: right;margin-top: 100px;margin-bottom: 50px;margin-right: 120px;">登记编号${num!}号</div>
    <div style="font-size: 70px;text-align: center;">三亚市购买限价商品住房</div>
    <div style="font-size: 70px;text-align: center;margin-top: 50px;">申</div>
    <div style="font-size: 70px;text-align: center;">请</div>
    <div style="font-size: 70px;text-align: center;">审</div>
    <div style="font-size: 70px;text-align: center;">批</div>
    <div style="font-size: 70px;text-align: center;margin-bottom: 50px;">表</div>
    <div style="font-size: 30px;text-align: left;margin-left: 170px;">申请人：
        <div style="border-bottom: 1px solid #000;height: 35px;width: 475px;float: right;margin-right: 230px;">
            ${shiro.getUser().name!}
        </div>
    </div>
    <div style="font-size: 30px;text-align: left;margin-left: 170px;margin-top: 20px;">工作单位：
        <div style="border-bottom: 1px solid #000;height: 35px;width: 445px;float: right;margin-right: 230px;">
            ${apply.applicantWork!}
        </div>
    </div>
    <div style="font-size: 30px;text-align: left;margin-left: 170px;margin-top: 20px;">户口所在地：
        <div style="border-bottom: 1px solid #000;height: 35px;width: 415px;float: right;margin-right: 230px;">
            ${apply.applicantResidence!}
        </div>
    </div>
    <div style="font-size: 30px;text-align: left;margin-left: 170px;margin-top: 20px;">居住所在地：
        <div style="border-bottom: 1px solid #000;height: 35px;width: 415px;float: right;margin-right: 230px;">
            ${apply.applicantAdress!}
        </div>
    </div>
    <div style="font-size: 30px;text-align: left;margin-left: 170px;margin-top: 20px;">联系电话：
        <div style="border-bottom: 1px solid #000;height: 35px;width:445px;float: right;margin-right: 230px;">
            ${apply.applicantPhone!}
        </div>
    </div>
    <div style="font-size: 40px;text-align: center;margin-top: 100px;">三亚市住房和城乡建设局&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;印制</div>
</div>
<!--填表说明-->
<div style="width: 1000px;height: 1480px;border: 1px solid #ffffff;margin-top: 100px;">
    <div style="font-size: 50px;text-align: center;margin-top: 130px;margin-bottombottom: 100px;">填&nbsp;&nbsp;表&nbsp;&nbsp;说&nbsp;&nbsp;明<br><br></div>
    <div style="font-size: 30px;line-height: 2em;width: 830px;margin:0 auto;text-align: justify;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一、限价商品住房是指限定套型结构比例(限定套型面积)和控制销售价位(限定销售价格)，并定向销售(限定销售对象)的中低价位，中小套型普通商品住房。属保障性住房。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;二、表中的政策性住房是指房改房、集资建房、经济适用房。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;三、申请表必须如实填写，如有不实，责任自负。填写时要使用黑墨钢笔、黑色签字笔，不得使用铅笔、圆珠笔填写，字体要端正、清晰。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;四、调查表中“□”项，按被调查人实际情况在选项中相应“□”打“√”。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;五、此表一式一份，复印、涂改无效。<br>

    </div>

</div>


<!--申请人与配偶情况-->
<div style="width: 1000px;height: 1480px;border: 1px solid #ffffff;margin-top: 200px;" align="center" >
    <table style="width: 940px;height: 1380px;" align="center">
        <tr class="tableTrClass "  style="height: 120px" >
            <td colspan="100" style="border-left-style: hidden;border-right: hidden;border-top-style: hidden;"  valign="bottom" align="left" > <p style="font-size: 18px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;此页由申请人填写<p></td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="100" style="font-family: 黑体, SimHei;">申请人基本情况</td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="22">姓名</td>
            <td colspan="18">${shiro.getUser().name}</td>
            <td colspan="12">性别</td>
            <td colspan="10">
                @if(apply.applicantSex == "1"){
                男
                @}else{
                女
                @}
            </td>
            <td colspan="10">婚否</td>
            <td colspan="10">
                @if(apply.applicantMarry == "1"){
                已婚
                @}else{
                未婚
                @}
            </td>
            <td colspan="18" rowspan="4">
                @if(apply.MY_PHOTO == null){
                一</br>
                寸</br>
                近</br>
                期</br>
                彩</br>
                照</br>
                @}else{
                <img id="avatarPreview" src="/house/getPhoto?OpTypeNum=${apply.OPTYPENUM!}&RecYear=${apply.RECYEAR!}&RecNum=${apply.RECNUM!}&judge=1" style="z-index: 9; float: left; width: 100px; height: 100px;margin-left: 40px;">
                @}
            </td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="22">年龄</td>
            <td colspan="18">${apply.applicantAge!}</td>
            <td colspan="12">联系电话</td>
            <td colspan="30">${apply.applicantPhone!}</td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="22">身份证号</td>
            <td colspan="60">${shiro.getUser().idCard}</td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="22">职业或工作单位</td>
            <td colspan="60">${apply.applicantWork!}</td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="22">户口所在地</td>
            <td colspan="22">${apply.applicantResidence!}</td>
            <td colspan="12">现住址</td>
            <td colspan="44">${apply.applicantAdress!}</td>
        </tr>

        <tr class="tableTrClass">
            <td colspan="22" style="height: 100px">现居住房屋性质
            </td>
            <td colspan="78" style="text-align: left; padding-left: 20px;">
                <input type="checkbox">自有产权、
                <input type="checkbox">租住私房、
                <input type="checkbox">借住私房、
                <br>
                <input type="checkbox">租住公房、
                <input type="checkbox">借住公房、
                <input type="checkbox">政策性住房
            </td>
        </tr>
        </tr>

        <tr class="tableTrClass">
            <td colspan="100" style="font-family: 黑体, SimHei;">配偶基本情况</td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="22">姓名</td>
            <td colspan="18">${spouse.jointApplicantName}</td>
            <td colspan="12">性别</td>
            <td colspan="30">
                @if(spouse.jointApplicantSex == "1"){
                男
                @}else{
                女
                @}
            </td>

            <td colspan="18" rowspan="4">
                @if(spouse.MY_PHOTO == null){
                一</br>
                寸</br>
                近</br>
                期</br>
                彩</br>
                照</br>
                @}else{
                <img id="spouseImg" src=" /house/getPhoto?OpTypeNum=${apply.OPTYPENUM!}&RecYear=${apply.RECYEAR!}&RecNum=${apply.RECNUM!}&judge=2&FamilyID=${spouse.jointApplicantId!}" title="点击更换图片" style="z-index: 9; float: left; width: 100px; height: 100px;margin-left: 40px;">
                @}
            </td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="22">年龄</td>
            <td colspan="18">${spouse.jointApplicantAge!}</td>
            <td colspan="12">联系电话</td>
            <td colspan="30">${spouse.jointApplicantPhone!}</td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="22">身份证号</td>
            <td colspan="60">${spouse.jointApplicantCard}</td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="22">职业或工作单位</td>
            <td colspan="60">${spouse.jointApplicantWork!}</td>
        </tr>

        <tr class="tableTrClass">
            <td colspan="22">户口所在地</td>
            <td colspan="22">${spouse.jointApplicantResidence!}</td>
            <td colspan="12">现住址</td>
            <td colspan="44">${spouse.jointApplicantAddress!}</td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="5" rowspan="5" >
                </br></br></br>
                家</br>
                庭</br>
                其</br>
                他</br>
                成</br>
                员</br>
                情</br>
                况</br>
                </br></br></br>
            </td>
            <td colspan="17">姓名</td>
            <td colspan="10">与申请</br>人关系</td>
            <td colspan="10">年龄</td>
            <td colspan="8">性别</td>
            <td colspan="8">婚否</td>
            <td colspan="17">职业或工作单位</td>
            <td colspan="25">居民身份证号码</td>
        </tr>

        <tr class="tableTrClass">
            <td colspan="17" id="jointName1"></td>
            <td colspan="10"  id="jointRelation1"></td>
            <td colspan="10"  id="jointAge1"></td>
            <td colspan="8"  id="jointSex1"></td>
            <td colspan="8"  id="jointMarry1"></td>
            <td colspan="17"  id="jointWork1"></td>
            <td colspan="25"  id="jointCard1"></td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="17" id="jointName2"></td>
            <td colspan="10"  id="jointRelation2"></td>
            <td colspan="10"  id="jointAge2"></td>
            <td colspan="8"  id="jointSex2"></td>
            <td colspan="8"  id="jointMarry2"></td>
            <td colspan="17"  id="jointWork2"></td>
            <td colspan="25"  id="jointCard2"></td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="17" id="jointName3"></td>
            <td colspan="10"  id="jointRelation3"></td>
            <td colspan="10"  id="jointAge3"></td>
            <td colspan="8"  id="jointSex3"></td>
            <td colspan="8"  id="jointMarry3"></td>
            <td colspan="17"  id="jointWork3"></td>
            <td colspan="25"  id="jointCard3"></td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="17" id="jointName4"></td>
            <td colspan="10"  id="jointRelation4"></td>
            <td colspan="10"  id="jointAge4"></td>
            <td colspan="8"  id="jointSex4"></td>
            <td colspan="8"  id="jointMarry4"></td>
            <td colspan="17"  id="jointWork4"></td>
            <td colspan="25"  id="jointCard4"></td>
        </tr>
    </table>
</div>
<!--调查表-->
<div style="width: 1000px;height: 1480px;border: 1px solid #ffffff;margin-top: 100px;">
    <div style="font-size: 50px;text-align: center;margin-top: 50px;">申请家庭住房情况调查表</div>
    <table style="width: 940px;height:1200px;" align="center";>
        <tr class="tableTrClass "  style="height: 40px" >
            <td colspan="100" style="border-left-style: hidden;border-right: hidden;border-top-style: hidden;"  valign="bottom" align="left" > <p style="font-size: 18px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;此页由单位调查人员填写<p></td>
        </tr>
        <tr class="tableTrClass">
            <td   colspan=20>申请人姓名
            </td>
            <td  colspan="24">
            </td>
            <td  colspan="16">工作单位
            </td>
            <td  colspan="40">
            </td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="20">现居住地地址
            </td>
            <td  colspan="40">
            </td>
            <td  colspan="16">房屋性质
            </td>
            <td  colspan="24">
            </td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="20">家庭人口数
            </td>
            <td  colspan="11">
            </td>
            <td  colspan="13">婚否
            </td>
            <td  colspan="16">
            </td>
            <td  colspan="16">出生年月日
            </td>
            <td  colspan="24">
            </td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="20">家庭人口数
            </td>
            <td colspan="80" style="text-align: left;padding: 20px;">
                <input type="checkbox">正处、
                <input type="checkbox">副处、
                <input type="checkbox">正科、
                <input type="checkbox">副科、
                <input type="checkbox">科员、
                <input type="checkbox">职工
            </td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="16" rowspan="6">
                </br></br></br></br></br></br>
                享受政策</br>
                性住房或</br>
                其他形式</br>
                福利分房</br>
                情况（包</br>
                括曾经工</br>
                作过的单</br>
                位、包括</br>
                未办证到</br>
                个人名下</br>
                的政策性</br>
                住房）
                </br></br></br></br></br></br>
            </td>
            <td colspan="28">购买住房类型
            </td>
            <td  colspan="10">本人
            </td>
            <td  colspan="10">配偶
            </td>
            <td  colspan="8" rowspan="6">
                </br></br></br></br></br></br></br></br></br>
                购</br>
                买</br>
                住</br>
                房</br>
                面</br>
                积</br></br></br></br></br></br></br></br></br>
            </td>
            <td  colspan="14">本人
            </td>
            <td  colspan="14">配偶
            </td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="28" style="text-align: left">1、购买公有住房
            </td>
            <td  colspan="10"><p >□</p>
            </td>
            <td  colspan="10"><p >□</p>
            </td>

            <td  colspan="14" style="text-align: right">m<sup>2</sup>
            </td>
            <td  colspan="14" style="text-align: right">m<sup>2</sup>
            </td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="28" style="text-align: left">2、购买集资建房
            </td>
            <td  colspan="10"><p >□</p>
            </td>
            <td  colspan="10"><p >□</p>
            </td>

            <td  colspan="14" style="text-align: right">m<sup>2</sup>
            </td>
            <td  colspan="14" style="text-align: right">m<sup>2</sup>
            </td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="28" style="text-align: left">3、购买经济适用住房
            </td>
            <td  colspan="10"><p >□</p>
            </td>
            <td  colspan="10"><p >□</p>
            </td>

            <td  colspan="14" style="text-align: right">m<sup>2</sup>
            </td>
            <td  colspan="14" style="text-align: right">m<sup>2</sup>
            </td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="28" style="text-align: left">4、购买单位与企业合<br>
                &nbsp; &nbsp;&nbsp; &nbsp;作住房或团购房
            </td>
            <td  colspan="10"><p >□</p>
            </td>
            <td  colspan="10"><p >□</p>
            </td>

            <td  colspan="14" style="text-align: right">m<sup>2</sup>
            </td>
            <td  colspan="14" style="text-align: right">m<sup>2</sup>
            </td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="28" style="text-align: left">5、未享受过政策性住<br>&nbsp; &nbsp;&nbsp; &nbsp;房
            </td>
            <td  colspan="10"><p >□</p>
            </td>
            <td  colspan="10"><p >□</p>
            </td>

            <td  colspan="14" style="text-align: right">m<sup>2</sup>
            </td>
            <td  colspan="14" style="text-align: right">m<sup>2</sup>
            </td>
        </tr>


        <tr class="tableTrClass">
            <td colspan="100" style="text-align: left; border: 0;">
                注：1、此栏简要说明上述住房的位置，竣工年限等情况。<br>
                &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;2、以军转干部填报的，在此栏说明，属技术级军转干部的说明转业时技术级别和现<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;任职级别。<br>
                &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;3、<br><br><br><br><br>
            </td>


        </tr>

        <tr class="tableTrClass">
            <td colspan="60" style="text-align: left;border: 0;">&nbsp;&nbsp;&nbsp;&nbsp;调查人（签章）：</td>
            <td colspan="40" style="text-align: left; border: 0;">调查日期：
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日
            </td>

        </tr>
    </table>
</div>
<!--个人工作简历-->
<div style="width: 1000px;height: 1480px;border: 1px solid #ffffff;margin-top: 150px;">
    <div style="font-size: 50px;text-align: center;height: 130px;margin-top: 70px;">个人工作简历</div>
    <table style="width: 940px;height:1150px;" align="center">
        <tr class="tableTrClass" >
            <td  style="width: 940px;height:1150px;"><textarea class="tableInputClass" readonly>${apply.applicantReason.reason!}</textarea></td>
        </tr>
    </table>
</div>
<!--审核意见-->
<div style="width: 1000px;height: 1400px;border: 1px solid #ffffff;margin-top: 100px;">
    <div style="font-size: 50px;text-align: center;margin-top: 80px;">审核意见</div>
    <table style="width: 940px;height: 1200px;" align="center">

        <tr class="tableTrClass">
            <td colspan="3" style="height: 250px;">申请人配偶<br>所在单位<br>证明意见
            </td>
            <td colspan="10" style="text-align: left;">
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;经审查，申请人配偶___________为我单位干部（处级□、科级□、<br>
                    &nbsp;&nbsp;科员□）、职工□，（未□、有□）享受过政策性住房，享受政策性住房<br>
                    &nbsp;&nbsp;建筑面积__________平方米，套内建筑面积__________平方米。
                </div>
                <div style="margin-top: 60px;">
                    &nbsp;&nbsp; &nbsp;&nbsp; 经办人：&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    负责人： &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    单位盖章： &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                </div>

                <div style="text-align: right;margin-top: 10px;">
                    年 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    月 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    日 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                </div>
            </td>
        </tr>


        <tr class="tableTrClass">
            <td colspan="3" style="height: 300px;">申&nbsp;&nbsp;请&nbsp;&nbsp;人<br>所在单位<br>初审意见
            </td>
            <td colspan="10" style="text-align: left;">
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经审查，申请人________________为我单位干部（处级□、科级□、科员<br>
                    &nbsp;&nbsp; □）、职工□，家庭总人口为______人，（未□、有□）享受过政策性住<br>
                    &nbsp;&nbsp;房，享受政策性住房建筑面积__________平方米，套内建筑面积__________<br>
                    &nbsp;&nbsp;平方米，并张榜公布______天，（无□、有□）异议，（符合□、不符<br>
                    &nbsp;&nbsp;合□）申报限价商品住房条件。

                </div>
                <div style="margin-top: 60px;">
                    &nbsp;&nbsp; &nbsp;&nbsp; 经办人：&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    负责人： &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    单位盖章： &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

                <div style="text-align: right;margin-top: 10px;">
                    年 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    月 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    日 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                </div>
            </td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="3" style="height: 200px;">主管单位意见
            </td>
            <td colspan="10" style="text-align: left;">
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经审查，____________家庭，（符合□、不符合□）申报限价商品住房<br>
                    &nbsp;&nbsp; 条件，（同意□、不同意□）申报。

                </div>
                <div style="margin-top: 60px;">
                    &nbsp;&nbsp; &nbsp;&nbsp; 经办人：&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    负责人： &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    单位盖章： &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

                <div style="text-align: right;margin-top: 10px;">
                    年 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    月 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    日 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                </div>
            </td>
        </tr>

        <tr class="tableTrClass">
            <td colspan="2" rowspan="2" style="height: 450px;">市住房<br>和城乡<br>建设局<br>核准意见
            </td>
            <td colspan="1"  style="height: 300px;">审核
            </td>
            <td colspan="10" style="text-align: left;">
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经审查，并张榜公布______天，无异议。________________同志为该单<br>
                    &nbsp;&nbsp;位干部（处级□、科级□、科员 □）、职工□，本人及配偶（未□、有□）<br>
                    &nbsp;&nbsp;享受过政策性住房，享受政策性住房建筑面积__________平方米，套内建<br>
                    &nbsp;&nbsp;筑面积__________平方米，（符合□、不符合□）申报限价商品住房条件。<br>
                    &nbsp;&nbsp;经综合评分，________分。

                </div>
                <div style="margin-top: 60px;">
                    &nbsp;&nbsp; &nbsp;&nbsp; 经办人：&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    复核人： &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

                <div style="text-align: right;margin-top: 10px;">
                    年 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    月 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    日 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                </div>
            </td>
        </tr>
        <tr class="tableTrClass">
            <td colspan="1"  style="height: 150px;">审批
            </td>
            <td colspan="10" style="text-align: left;">
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;同意轮候购买限价商品住房。

                </div>
                <div style="margin-top: 40px;">
                    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; 负责人：&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    单位盖章： &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

                <div style="text-align: right;margin-top: 10px;">
                    年 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    月 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    日 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                </div>
            </td>
        </tr>
    </table>
</div>

<!--附页-->
<div style="width: 1000px;height: 1450px;border: 1px solid #ffffff;margin-top: 150px;">
    <div style="font-size: 50px;text-align: center;height: 120px;margin-top: 70px;">附&nbsp;&nbsp;页</div>
    <table style="width: 940px;height:1150px;" align="center">
        <tr class="tableTrClass" >
            <td  style="width: 940px;height:1150px;"></td>
        </tr>
    </table>
</div>

<script>
    var jointApplicantListJson = '${jointApplicantListJson}';
    jointApplicantListJson = JSON.parse(jointApplicantListJson);
    var familyTypeJson = '${familyTypeJson}';
    familyTypeJson = JSON.parse(familyTypeJson);
    function showJoint() {
        for(var i = 1;i<jointApplicantListJson.length+1;i++){
            $("#jointName"+i).html(jointApplicantListJson[i-1].jointApplicantName);
            for(var family in familyTypeJson){
                if(familyTypeJson[family].code == jointApplicantListJson[i-1].jointApplicantRelation){
                    $("#jointRelation"+i).html(familyTypeJson[family].value);
                }
            }
            $("#jointAge"+i).html(jointApplicantListJson[i-1].jointApplicantAge);
            if(jointApplicantListJson[i-1].jointApplicantSex == '1'){
                $("#jointSex"+i).html("男");
            }else{
                $("#jointSex"+i).html("女");
            }

            if(jointApplicantListJson[i-1].jointApplicantMarry == '1'){
                $("#jointMarry"+i).html("已婚");
            }else{
                $("#jointMarry"+i).html("未婚");
            }
            $("#jointWork"+i).html(jointApplicantListJson[i-1].jointApplicantWork);
            $("#jointCard"+i).html(jointApplicantListJson[i-1].jointApplicantCard);
        }
    }

    $(function () {
        showJoint();
    });
</script>
