@layout("/common/_container.html"){
<div>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="hidden" name="optypenum" value="${iOptypenum!}">
        <input type="hidden" name="recyear" value="${iRecyear!}">
        <input type="hidden" name="recnum" value="${iRecnum!}">
        <input type="hidden" name="recmatnum" value="${iRecMatnum!}">

        <!--<div  style="text-align: center">
            <div style="width: 300px;vertical-align:middle;MARGIN-RIGHT: auto;MARGIN-LEFT: auto;">
                <input type="file" name="files">
            </div>

        </div>

        <div class="row btn-group-m-t" style="position: fixed;bottom:20px;right: 20px;">
            <div class="col-sm-10" style="text-align: center">
                <button  type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i>&nbsp;确定
                </button>
            </div>
        </div>-->

        <div id="uploader-demo">
            <div>
                <div id="filePicker" style="float: left">添加图片</div>
                <button  style="float: left;height: 32px;margin-left: 10px;" type="button" class="btn btn-primary" onclick="executeUpload()">
                    <i class="fa fa-check"></i>&nbsp;上传
                </button>
            </div>
            <div style="clear:both"></div>
            <!--用来存放item-->
            <div id="fileList" class="uploader-list" style="width: 100%;height: 152px;border: 1px solid #eee;"></div>
        </div>
    </form>
</div>
<script>
    // 初始化Web Uploader
    var uploader = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: false,

        // swf文件路径
        swf: '/static/js/plugins/webuploader/Uploader.swf',

        // 文件接收服务端。
        server: '/upload',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        },
        formData:{"optypenum":"${iOptypenum!}","recyear":"${iRecyear!}","recnum":"${iRecnum!}","recmatnum":"${iRecMatnum!}"}
    });
    // 当有文件添加进来的时候
    uploader.on( 'fileQueued', function( file ) {
        $list = $("#fileList");
        var $li = $(
            '<div id="' + file.id + '" class="file-item thumbnail" style="width: 120px;float: left">' +
            '<img>' +
            '<div class="info" style="width: 120px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">' + file.name + '</div>' +
            '</div>'
            ),
            $img = $li.find('img');


        // $list为容器jQuery实例
        $list.append( $li );

        // 创建缩略图
        // 如果为非图片文件，可以不用调用此方法。
        // thumbnailWidth x thumbnailHeight 为 100 x 100
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr( 'src', src );
        }, 100, 100 );
    });
    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<p class="progress"><span></span></p>')
                .appendTo( $li )
                .find('span');
        }

        $percent.css( 'width', percentage * 100 + '%' );
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on( 'uploadSuccess', function( file ) {

        $( '#'+file.id ).addClass('upload-state-done');
        var $li = $( '#'+file.id ),
            $success = $li.find('div.success');

        // 避免重复创建
        if ( !$success.length ) {
            $success = $('<div class="success" style="color:#18a689"></div>').appendTo( $li );
        }
        $success.text('上传成功');
    });

    // 文件上传失败，显示上传出错。
    uploader.on( 'uploadError', function( file ) {

        var $li = $( '#'+file.id ),
            $error = $li.find('div.error');

        // 避免重复创建
        if ( !$error.length ) {
            $error = $('<div class="error" style="color:#bf800c"></div>').appendTo( $li );
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').remove();
    });
    
    var executeUpload = function () {

        uploader.upload();
    }
</script>
@}
